* {
    margin : 0;
    padding : 0;
    text-decoration:none;
    list-style:none;
}
button:focus {outline:0;}
.main {
    display : flex;
    width : 100vw;
    height : 100vh;
    flex-flow : column;
}

.header {
	height: 76px;
    border-bottom: 4px solid #000000;
    display : flex;
}

.header .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.header .left>div{
    display: flex;
    justify-content: space-around;
}

.header h2 {
    height : 30px;
    text-align : center;
}
.header .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow : column;
}
.cont {
    height : 100%;
    background: #eeeeee;
    display : flex;
    flex-flow : row;
}

.cont .left {
    height: 100%;
    width: 50%;
    background: #FFFFFF;
}

.cont .left ul li {

    margin-top : 5px;
    border : 2px solid rgba(0,0,0,0.3);
    background : #eeddee;
}


.cont .left ul li button {
    width : 100%;
    height : 100%;
    padding : 5px;
    padding-left : 30px;
    background : #e0e3da;
    border : 0;
}

.cont .left ul li button:hover{
    color : #efefef;
    background : #566270;
    cursor : pointer;
}

.cont .right {
    display: flex;
    flex-flow:column;
    width: 40%;
    padding: 2% 5% 3%;
    height: 94%;
}

.cont .right button{
    width:60px;
    height:30px;
    border:1px solid silver;
    background-color: rgba(0,0,0,0);
    color:black;
    padding: 5px;
}

.cont .right button:hover{
    color: WHITE;
    background-color: black;
}
.green_window {
    display: inline-block;
    width: 366px; height: 34px;
    border: 3px solid #000000;
    background: white;
}
.input_text {
    width: 348px; height: 21px;
    margin: 6px 0 0 9px;
    border: 0;
    line-height: 21px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}
.sch_smit {
    width: 65px; height: 40px;
    margin: 0; border: 0;
    vertical-align: top;
    background: #000000;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
}
.sch_smit:hover {
    background: #56C82C;
}

.y{
    overflow-y:scroll;
}